 body {
           
     }
           

.cycleDiv {
            text-align: center; /* Optional: To center the content inside cycleDiv */
            border: 1px solid #ccc;
            padding: 20px;
}
.cycleName_Label {

}
.cycleName_Input {

}
.cycleCreateButton {

}
/*----------------------*/
.myCycles {
text-align: center;
border: 1px solid #ccc;
padding: 20px;
}
.addEvent_Button {
text-align: center;
border: 1px solid #ccc;
padding: 20px;
}
.myEventDiv {
text-align: center;
border: 1px solid #ccc;
padding: 20px;
}
.cycle_events {

}
.myCycles_Button {

}
/*----------------------*/
.eventDiv {

}
