.emailPageDiv {
text-align: center;
border: 1px solid #ccc;
padding: 20px;
}
/*----------------------*/
.usernameDiv {

}
.username_Label {

}
.username_Input {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}
/*----------------------*/
.emailDiv {
margin-left: 27px;
}
.email_Label {

}
.email_Input {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}
/*----------------------*/
.changeButtonDiv {

}
.changeButton_Input {
text-align: center;
padding: 5px;
background-color: RGB(24, 119, 242);
border: 1px solid RGB(24, 119, 242);
color: white;
margin-top: 10px;
margin-left: 70px;
}
