.changeButtonDiv {

}
.changePassword_Form {
text-align: center;
border: 1px solid #ccc;
padding: 20px;
}
/*----------------------*/
.oldPasswordDiv {
margin-left: 6px;
}
.oldPassword_Label {

}
.oldPassword_Input {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}
/*----------------------*/
.newPasswordDiv {

}
.newPassword_Label {

}
.newPassword_Input {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}
/*----------------------*/
.confirmPasswordDiv {
margin-right: 22px;
}
.confirmPassword_Label {

}
.confirmPassword_Input {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}
/*----------------------*/
.changePasswordButtonDiv {

}
.changePasswordButton_Label {
text-align: center;
padding: 5px;
background-color: RGB(24, 119, 242);
border: 1px solid RGB(24, 119, 242);
color: white;
margin-top: 10px;
margin-left: 100px;
}
