.createProjectDiv {
text-align: center;
border: 1px solid #ccc;
padding: 20px;
}
}
.project_Form {

}
/*----------------------*/
.projectNameDiv {

}
.projectName_Label {

}
.projectName_Input {

}
/*----------------------*/
.createProjectDiv {

}
.createProject_Button {

}
